<section id="user-dashboard" class="header gradient text-center">

  <%= render '/users/avatar', user: @user, size: 100 %>

  <h3> <%= @user.name %> </h3> 
  <p> <%= @user.email %> </p>
  
  <h4 class="info-badge"> 
    <a href="#taskListsTab" data-toggle="tab">
    <%= fa_icon "th-list" %> task lists: 
    <span class="total-task-lists">
      <%= @task_lists.size %> 
    </span>
    </a>
  </h4>
  
  <% if current_user? @user %>
    <h4 class="info-badge"> 
      <a href="#favoritesTab" data-toggle="tab">
      <%= fa_icon "heart" %> favorites: 
      <span class="total-favorite-task-lists">				
      	<%= @user.favorite_task_lists.size %> 
      </span>
      </a>
    </h4>
  <% end %>

</section>
