
<section id="task-lists-header">
  <h1 class="inline"><%= title %></h1>   

  <% if current_user? @user %>
    <%= render "/task_lists/form_modal", task_list: TaskList.new %>
  <% end %>
</section>

<section id="task-lists" class="panel-group">
  <div class="panel panel-default collection task-lists">
  
  <% task_lists.each do |task_list| %>

    <div data-task-list="<%= task_list.id %>">

      <div class="panel-heading task-list-info item">
        <%= render "/task_lists/task_list", task_list: task_list %>
      </div>

      <div id="task-list-<%= task_list.id %>-content" class="panel-collapse collapse">
        <div class="panel-body">
          <%= render "/tasks/index", task_list: task_list %>
        </div>
      </div>

    </div>
  <% end %>
  </div>
</section>


